<section class="quick-summary">
    <h3>Quick Summary of Windows 365</h3>
    <ul>
        <li>
            <div class="img-box">
                <img src="{{ 'windows_365_features_summary_communication.svg' | asset_url }}" alt="Summary Icon" title="Whats is Windows 365" />
            </div>
            <h4>Whats is Windows 365</h4>
            <div class="text">A virtualization service for Windows 10 and Windows 11</div>
        </li>
        <li>
            <div class="img-box">
                <img src="{{ 'windows_365_features_summary_calendar.svg' | asset_url }}" alt="Summary Icon" title="When is Windows 365 going to be available?" />
            </div>
            <h4>When is Windows 365 going to be available?</h4>
            <div class="text">From August 2, 2021.</div>
        </li>
        <li>
            <div class="img-box">
                <img src="{{ 'windows_365_features_summary_moneybag.svg' | asset_url }}" alt="Summary Icon" title="How much does Windows 365 cost?" />
            </div>
            <h4>How much does Windows 365 cost?</h4>
            <div class="text">A virtual Windows PC in the cloud starts at $31 per user, per month.</div>
        </li>
        <li>
            <div class="img-box">
                <img src="{{ 'windows_365_features_summary_touch.svg' | asset_url }}" alt="Summary Icon" title="How to use Windows 365?" />
            </div>
            <h4>How to use Windows 365?</h4>
            <div class="text">Your rented cloud PC is available from any web browser, on any device.</div>
        </li>
        <li>
            <div class="img-box">
                <img src="{{ 'windows_365_features_summary_confused.svg' | asset_url }}" alt="Summary Icon" title="Can I customize my Windows 365 PC?" />
            </div>
            <h4>Can I customize my Windows 365 PC?</h4>
            <div class="text">Yes. Each PC can be fully customized within the terms and conditions of Microsoft’s user agreement.</div>
        </li>
    </ul>
</section>
