{{ 'compare-windows-server.css' | asset_url | stylesheet_tag }}
<section class="compare-windows-server">
    <div class="for-desktop">
        <div class="banner centered">
            <span>Windows Server Comparison</span>
        </div>
    </div>
    <div class="for-mobile">
        <div class="banner-mobile centered">
            <div class="top-logo">
                <img src="{{ 'compare-windows-server-top-microsoft.png' | asset_url }}" width="105" height="38" />
            </div>
            <span>Compare features in Windows Server versions</span>
            <div class="server-logo">
                <img src="{{ 'compare-windows-server-server-mobile-banner.png' | asset_url }}" width="308" height="204" />
            </div>
        </div>
    </div>

    {% include 'compare-windows-server-product-list' %}

    <div class="centered">
        <ul class="custom-table for-desktop custom-table-info">
            <li>Physical (Host) Logical processor support</li>
            <li>512 Lps</li>
            <li>512 Lps</li>
            <li>512 Lps</li>
            <li>320 Lps</li>
        </ul>
        <ul class="mobile-custom-table">
            <li>Physical (Host) Logical processor support</li>
            <li>
                <span>Windows Server 2022</span>
                <span>512 Lps</span>
            </li>
            <li>
                <span>Windows Server 2019</span>
                <span>512 Lps</span>
            </li>
            <li>
                <span>Windows Server 2016</span>
                <span>512 Lps</span>
            </li>
            <li>
                <span>Windows Server 2012</span>
                <span>320 Lps</span>
            </li>
        </ul>
        <ul class="custom-table for-desktop custom-table-info">
            <li>Exploits Discovered 2019 YTD</li>
            <li>00</li>
            <li>06</li>
            <li>12</li>
            <li>19</li>
        </ul>
        <ul class="mobile-custom-table">
            <li>Exploits Discovered 2019 YTD</li>
            <li>
                <span>Windows Server 2022</span>
                <span>00</span>
            </li>
            <li>
                <span>Windows Server 2019</span>
                <span>06</span>
            </li>
            <li>
                <span>Windows Server 2016</span>
                <span>12</span>
            </li>
            <li>
                <span>Windows Server 2012</span>
                <span>19</span>
            </li>
        </ul>
        <ul class="custom-table for-desktop custom-table-info">
            <li>Virtual Machine Memory Support</li>
            <li>48TB per Virtual Machine</li>
            <li>12TB per Virtual Machine (12x)</li>
            <li>12TB per Virtual Machine (12x)</li>
            <li>1TB per Virtual Machine</li>
        </ul>
        <ul class="mobile-custom-table">
            <li>Virtual Machine Memory Support</li>
            <li>
                <span>Windows Server 2022</span>
                <span>48TB per Virtual Machine</span>
            </li>
            <li>
                <span>Windows Server 2019</span>
                <span>12TB per Virtual Machine (12x)</span>
            </li>
            <li>
                <span>Windows Server 2016</span>
                <span>12TB per Virtual Machine (12x)</span>
            </li>
            <li>
                <span>Windows Server 2012</span>
                <span>1TB per Virtual Machine</span>
            </li>
        </ul>
        <ul class="custom-table for-desktop custom-table-info">
            <li>Extended Support End Date</li>
            <li>14/10/2031</li>
            <li>01/09/2029</li>
            <li>01/12/2027</li>
            <li>10/10/2023</li>
        </ul>
        <ul class="mobile-custom-table">
            <li>Extended Support End Date</li>
            <li>
                <span>Windows Server 2022</span>
                <span>14/10/2031</span>
            </li>
            <li>
                <span>Windows Server 2019</span>
                <span>01/09/2029</span>
            </li>
            <li>
                <span>Windows Server 2016</span>
                <span>01/12/2027</span>
            </li>
            <li>
                <span>Windows Server 2012</span>
                <span>10/10/2023</span>
            </li>
        </ul>
        <ul class="custom-table for-desktop custom-table-info">
            <li>Physical (Host) memory Support</li>
            <li>24 TB per Physical Server</li>
            <li>64 TB per Physical Server (6x)</li>
            <li>24 TB per Physical Server (6x)</li>
            <li>4 TB per Physical Server</li>
        </ul>
        <ul class="mobile-custom-table">
            <li>Physical (Host) memory Support</li>
            <li>
                <span>Windows Server 2022</span>
                <span>24 TB per Physical Server</span>
            </li>
            <li>
                <span>Windows Server 2019</span>
                <span>64 TB per Physical Server (6x)</span>
            </li>
            <li>
                <span>Windows Server 2016</span>
                <span>24 TB per Physical Server (6x)</span>
            </li>
            <li>
                <span>Windows Server 2012</span>
                <span>4 TB per Physical Server</span>
            </li>
        </ul>
        <ul class="custom-table for-desktop custom-table-info">
            <li>Virtual Machine Memory Process Support</li>
            <li>240 VPs Per Virtual Machine</li>
            <li>240 VPs Per Virtual Machine (3.75x)</li>
            <li>240 VPs Per Virtual Machine (3.75x)</li>
            <li>64 VPs Per Virtual Machine</li
        </ul>
        <ul class="mobile-custom-table">
            <li>Virtual Machine Memory Process Support</li>
            <li>
                <span>Windows Server 2022</span>
                <span>240 VPs Per Virtual Machine</span>
            </li>
            <li>
                <span>Windows Server 2019</span>
                <span>240 VPs Per Virtual Machine (3.75x)</span>
            </li>
            <li>
                <span>Windows Server 2016</span>
                <span>240 VPs Per Virtual Machine (3.75x)</span>
            </li>
            <li>
                <span>Windows Server 2012</span>
                <span>64 VPs Per Virtual Machine</span>
            </li>
        </ul>
    </div>
    <div class="centered">
        <div class="collapsible">
            <div class="collapsible-header">
                <span class="icon">
                    <img class="minus" src="{{ 'compare-windows-server-minus-icon.svg' | asset_url }}" alt="Minus Icon" width="22" />
                    <img class="plus" src="{{ 'compare-windows-server-plus-icon.svg' | asset_url }}" alt="Minus Icon" width="22" />
                </span>
                <span class="title">Security</span>
            </div>
            <div class="content">
                <div class="tags">
                    <ul>
                        <li class="tag tag-fs">Full Supported</li>
                        <li class="tag tag-ls">Limited Supported</li>
                        <li class="tag tag-ns">Not Supported</li>
                    </ul>
                </div>
                {% include 'compare-windows-server-product-list' %}
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Enhanced Windows Defender Advanced Threat Protection (ATP)</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Enhanced Windows Defender Advanced Threat Protection (ATP)</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Shielded VMs for Windows</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Shielded VMs for Windows</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Shielded VMs for Linux</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Shielded VMs for Linux</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>HGS offline mode for shielded VMs</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>HGS offline mode for shielded VMs</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>VM Connect for shielded VMs</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>VM Connect for shielded VMs</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Cluster Hardening</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Cluster Hardening</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>SDN Encrypted Subnet</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>SDN Encrypted Subnet</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Just - Enough Administration</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ls">Limited Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Just - Enough Administration</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ls">Limited Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Just In-Time Administration</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Just In-Time Administration</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Credential Guard</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Credential Guard</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Remote Credential Guard</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Remote Credential Guard</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Device Guard (Code Intefrity)</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Device Guard (Code Intefrity)</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>App Locker</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>App Locker</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Windows Defender</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ls">Limited Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Windows Defender</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ls">Limited Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Control Flow Guard</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Control Flow Guard</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapsible">
            <div class="collapsible-header">
                <span class="icon">
                    <img class="minus" src="{{ 'compare-windows-server-minus-icon.svg' | asset_url }}" alt="Minus Icon" width="22" />
                    <img class="plus" src="{{ 'compare-windows-server-plus-icon.svg' | asset_url }}" alt="Minus Icon" width="22" />
                </span>
                <span class="title">Storage and Networking</span>
            </div>
            <div class="content">
                {% include 'compare-windows-server-product-list' %}
                <ul class="custom-table for-desktop custom-table-info">
                    <li>VM storage resiliency</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>VM storage resiliency</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Storage health monitoring</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Storage health monitoring</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Network controller</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Network controller</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>HTTP/2</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>HTTP/2</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Enhanced storage space</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ls">Limited Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Enhanced storage space</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-ls">Limited Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Storage class memory</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ls">Limited Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Storage class memory</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-ls">Limited Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="collapsible">
            <div class="collapsible-header">
                <span class="icon">
                    <img class="minus" src="{{ 'compare-windows-server-minus-icon.svg' | asset_url }}" alt="Minus Icon" width="22" />
                    <img class="plus" src="{{ 'compare-windows-server-plus-icon.svg' | asset_url }}" alt="Minus Icon" width="22" />
                </span>
                <span class="title">Made for the cloud</span>
            </div>
            <div class="content">
                {% include 'compare-windows-server-product-list' %}
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Support Kubernetes</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Support Kubernetes</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Has nano-server containers</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Has nano-server containers</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Supports gMSA</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ls">Limited Supported</span></li>
                    <li><span class="tag tag-ls">Limited Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Supports gMSA</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-ls">Limited Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ls">Limited Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Supports Windows PowerShell 5.1</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ls">Limited Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Supports Windows PowerShell 5.1</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ls">Limited Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Has Hyper-V containers</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Has Hyper-V containers</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Windows Server containers</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Windows Server containers</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
                <ul class="custom-table for-desktop custom-table-info">
                    <li>Linux based containers</li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-fs">Full Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                    <li><span class="tag tag-ns">Not Supported</span></li>
                </ul>
                <ul class="mobile-custom-table">
                    <li>Linux based containers</li>
                    <li>
                        <span>Windows Server 2022</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2019</span>
                        <span class="tag tag-fs">Full Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2016</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                    <li>
                        <span>Windows Server 2012/2012 R2</span>
                        <span class="tag tag-ns">Not Supported</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="centered">
        <div class="card-links">
            <ul>
                <li>
                    <span class="card-title">2022</span>
                    <a class="action" href="/products/windows-server-2022-datacenter.html">
                        Shop Now
                    </a>
                </li>
                <li>
                    <span class="card-title">2019</span>
                    <a class="action" href="/products/windows-server-2019-standard-core-licenses.html">
                        Shop Now
                    </a>
                </li>
                <li>
                    <span class="card-title">2016</span>
                    <a class="action" href="/products/windows-server-2016-standard.html">
                        Shop Now
                    </a>
                </li>
                <li>
                    <span class="card-title">2012</span>
                    <a class="action" href="/products/microsoft-windows-server-2012-standard.html">
                        Shop Now
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="centered">
        <div class="contact">
            <h3>Get Free Consultancy on your Needs</h3>
            <h5>Feeling lost? Reach out to  our Sales Expert and they’ll  come up with the best solution for you. </h5>
            <ul class="boxes">
                <li>
                    <div class="icon">
                        <img src="{{ 'compare-windows-server-phone.svg' | asset_url }}" alt="Contact Icon" width="35" title="Call" />
                    </div>
                    <h6>Call</h6>
                    <span>Est wait time 15mins</span>
                    <a class="action" href="tel: +17788039975">+1 778-803-9975</a>
                </li>
                <li>
                    <div class="icon">
                        <img src="{{ 'compare-windows-server-chat.svg' | asset_url }}" alt="Contact Icon" width="35" title="Chat" />
                    </div>
                    <h6>Live Chat</h6>
                    <span>Est wait &lt;2mins</span>
                    <button class="action" data-target="zendesk-chat-open">Start Conversation</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="gray">
        <div class="centered">
            <div class="trusted-seller">
                <h3>We are Trusted Sellers</h3>
                <ul class="seals">
                    <li>
                        <img
                            src="{{ 'compare-windows-server-seal_microsoft.png' | asset_url }}"
                            width="168"
                            height="50"
                            alt="Microsoft Icon"
                            title="Microsoft Gold Partner"
                        />
                    </li>
                    <li>
                        <img
                            src="{{ 'compare-windows-server-seal_norton.png' | asset_url }}"
                            width="125"
                            height="59"
                            alt="Norton Icon"
                            title="Norton"
                        />
                    </li>
                    <li>
                        <img
                            src="{{ 'compare-windows-server-seal_bbb.png' | asset_url }}"
                            width="161"
                            height="45"
                            alt="BBB Icon"
                            title="BBB"
                        />
                    </li>
                </ul>
                <p>We are a name of Trust. Our Customers need to have peace of mind that they are buying a Genuine Microsft Product that comes with the Norton Shopping Guarantee. Our Business is also accredited by BBB which ensures the highest standards of best business practices.</p>
                <a href="/collections/windows-server-2022">
                    Shop Windows Server
                </a>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    let collapsibleHeaders = document.querySelectorAll('.collapsible .collapsible-header');

    for (let i = 0; i < collapsibleHeaders.length; i++) {
        collapsibleHeaders[i].addEventListener('click', function(event) {
            event.currentTarget.parentElement.classList.toggle('expanded');
        });
    }


    document.querySelector('[data-target="zendesk-chat-open"]')
    .addEventListener('click', function() {
        if (typeof zE == "function") {
            zE.activate();
        }
    });
</script>
